.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft >select{
  margin-bottom: 10px;
}

.productUploadImg{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 20px;
}

.productFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload{
  display: flex;
  align-items: center;
}

.newproductButton{
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(105, 105, 105);
  color:white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}




